# Capstone Project

## Opening a new Chinese restaurant in Boston, MA

1. Get list of neighborhoods in Boston by scraping Wikipedia page.
2. Get geo coordinates of all neighborhoods and store in a dataframe.
3. Get venue data from FourSquare API.
4. Perform Clustering and Segmentation.
5. Make final decision of the best location to open a new Chinese restaurant in Boston, MA.

In [1]:
# import libraries

import pandas as pd
import numpy as np

# For web scraping
from bs4 import BeautifulSoup as bs
import requests

# To get geo-location data
from geopy.geocoders import Nominatim

In [2]:
# Get list of neighborhoods in Boston

source = requests.get("https://en.wikipedia.org/wiki/Neighborhoods_in_Boston").text
soup = bs(source, 'lxml')

In [3]:
list = soup.find('div', class_='columns')

In [4]:
# Store the list in an array

neigh = []

for n in list.find_all('li'):
    neigh.append(n.text)

In [5]:
# Convert the array to a pandas dataframe

df = pd.DataFrame({'Neighborhoods': neigh})

In [6]:
# Clean up the dataframe

df.replace(regex={r'^Dorchester.*$': 'Dorchester', r'^Fenway.*$': 'Fenway Kenmore', r'^Chinatown.*$': 'Chinatown'}, inplace=True)

In [7]:
df.shape

(22, 1)

In [8]:
# Get latitude and longitude data for each neighborhood

geolocator = Nominatim(user_agent='boston_agent')

def get_geo_location(neighborhood):
    g = None
    while (g is None):
        location = geolocator.geocode('{}, Boston, MA'.format(neighborhood))
        g = [location.latitude, location.longitude]
    return g

In [9]:
coords = [ get_geo_location(nbhd) for nbhd in df["Neighborhoods"].tolist() ]

In [10]:
coords

[[42.3554344, -71.1321271],
 [42.3507067, -71.0797297],
 [42.35001105, -71.0669477958571],
 [42.3587085, -71.067829],
 [42.3500971, -71.1564423],
 [42.3778749, -71.0619957],
 [42.3513291, -71.0626228],
 [42.2973205, -71.0744952],
 [52.971148799999995, -0.059809371175602276],
 [42.3750973, -71.0392173],
 [42.34422445, -71.09444515776886],
 [42.2556543, -71.1244963],
 [42.3098201, -71.1203299],
 [42.2675657, -71.0924273],
 [42.33255965, -71.10360773640765],
 [42.3650974, -71.0544954],
 [42.2912093, -71.1244966],
 [42.3248426, -71.0950158],
 [42.3334312, -71.0494949],
 [42.34131, -71.0772298],
 [42.3639186, -71.0638993],
 [42.2792649, -71.1494972]]

In [11]:
df_coords = pd.DataFrame(coords, columns=["Latitude", "Longitude"])

In [12]:
df["Latitude"] = df_coords["Latitude"]
df["Longitude"] = df_coords["Longitude"]

df

     Neighborhoods   Latitude  Longitude
0          Allston  42.355434 -71.132127
1         Back Bay  42.350707 -71.079730
2      Bay Village  42.350011 -71.066948
3      Beacon Hill  42.358708 -71.067829
4         Brighton  42.350097 -71.156442
5      Charlestown  42.377875 -71.061996
6        Chinatown  42.351329 -71.062623
7       Dorchester  42.297320 -71.074495
8         Downtown  52.971149  -0.059809
9      East Boston  42.375097 -71.039217
10  Fenway Kenmore  42.344224 -71.094445
11       Hyde Park  42.255654 -71.124496
12   Jamaica Plain  42.309820 -71.120330
13        Mattapan  42.267566 -71.092427
14    Mission Hill  42.332560 -71.103608
15       North End  42.365097 -71.054495
16      Roslindale  42.291209 -71.124497
17         Roxbury  42.324843 -71.095016
18    South Boston  42.333431 -71.049495
19       South End  42.341310 -71.077230
20        West End  42.363919 -71.063899
21    West Roxbury  42.279265 -71.149497